{% extends "base.html" %}

{% block title %}Admin utilisateurs{% endblock %}

{% block content %}

<h1 class="my-4">Admin
    <small>liste d'utilisateurs</small>
</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" rowspan="2">#</th>
            <th scope="col" colspan="5">Titre</th>
        </tr>
        <tr>
            <th scope="col">auteur</th>
            <th scope="col">publication</th>
            <th scope="col">mise à jour</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    {% if posts|length > 0 %}
    <tbody>
        {% for post in posts %}
        
        <tr>
            <th scope="col" rowspan="2">#</th>
            <th scope="col" colspan="5">{{ post.GetTitle() }}</th>
        </tr>
        <tr>
            <td>{{ post.GetUser().GetName() }}</td>
            <td>{{ post.GetPublish() ? post.GetPublish()|date('d-m-y à H\\Hi', timezone="Europe/Paris") : '' }}</td>
            <td>{{ post.GetUpdated() ? post.GetUpdated()|date('d-m-y à H\\Hi', timezone="Europe/Paris") : '' }}</td>
            <td><a href="?page=postedit&id={{ post.GetID() }}">éditer</a></td>
            <td><a href="?page=postdelete&id={{ post.GetID() }}">supprimer</a></td>
        </tr>

        {% endfor %}
    </tbody>
    {% endif %}
</table>

{{ include('pagination.html', {pnlimit: 3}) }}

{% endblock %}