{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block content %}

<h1 class="my-4">Inscription</h1>

<form method="POST" action="?page=register">
    <div class="form-group">
        <label for="name">Nom d'utilisateur : </label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Votre nom d'utilisateur" value="{{ post.name }}">
    </div>
    <div class="form-group">
        <label for="password">Mot de passe : </label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Votre mot de passe">
        <small id="password" class="text-muted">
            Doit être entre 8 et 20 caractères de long.
        </small>
    </div>
    <div class="form-group">
        <label for="passwordCheck">Confirmation du mot de passe : </label>
        <input type="password" class="form-control" name="passwordCheck" id="passwordCheck" placeholder="Vérification du mot de passe">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Enregistrement</button>
    </div>
</form>

{% endblock %}